.input-popup {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: rgb(20, 20, 20, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-popup > .window {
    width: 65%;
    height: 70%;

    border: 3px solid #ccc;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-popup > .window > div {
    padding: 10px;
}

.input-popup .heading {
    font-size: 30;
    font-weight: bold;
    text-decoration: underline;
}

.input-popup .grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    column-gap: 5px;

    justify-items: center;
}

.input-popup .grid > div {
    /* text-transform: capitalize; */
    font-weight: bold;
}
