<div class='input-popup'>
    <div class='window'>
        <div class='heading'></div>
        <div class='grid'></div>
        <div>
            <button class='send'>Send</button>
            <button class='cancel'>Cancel</button>
        </div>
    </div>
</div>
