.inventory-panel > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    height: 100%;
}

.inventory-panel .inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;
}

.inventory-panel  h3 {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: underline;
}
