.item-icon > div {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.item-icon > div > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
}

.item-icon img {
    width: 100%;
    height: 100%;
}

.item-icon .count {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-right: 2px;

    font-size: 15;
    text-align: right;
}
