.pickup-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pickup-page .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    padding: 2px;

    width: calc(200% / 3);
}

.pickup-page h2 {
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pickup-page button {
    position: absolute;
    right: 10px;
    top: 10px;
}
