<div class="wait-page">
    <div>
        <div class="heading">Waiting...</div>
        <div class="content">10</div>
        <div class="button-spacer"></div>
        <button>Cancel</button>
    </div>
</div>
