.wait-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.wait-page .heading {
    font-weight: bold;
    font-size: 40;
}

.wait-page .content {
    font-weight: bold;
    font-size: 30;
}

.wait-page .button-spacer {
    height: 20%;
}
