.layout > div {
    overflow: hidden;
}

.aspect-box {
    width: max(1000px, 100%);
    height: 0;
    padding-top: max(500px, 50%);
    position: relative;
}

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-areas:
        "Side Main Map"
        "Side Main Act"
        "Side Chat Act";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 3fr 3fr;
}

.layout, .layout > div {
    border: 1px solid #ccc;
}

/* Actions */
#actions {
    grid-area: Act;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
}

#actions > * {
    grid-column: 1 / 2;
}

#actions > .static {
    grid-column: 2 / 3;
}

/* Main */
#main {
    grid-area: Main;
}

/* Map */
#map {
    grid-area: Map;
}

/* Sidebar */
#sidebar {
    grid-area: Side;
}

/* Chat */

#chat {
    grid-area: Chat;
}

