.admin-page {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
}

.admin-page > .sidebar {
    min-width: 120px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    padding: 5px;
    border-right: 2px solid #ccc;
    overflow-y: auto;
}

.admin-page > .sidebar > button {
    height: 30px;
    flex-shrink: 0;
    margin-bottom: 2px;
}

.admin-page > .content {
    flex-grow: 1;
    overflow: auto;
}
