.admin-grid-view {
    display: inline-grid;
    grid-auto-rows: 30px;
    grid-auto-flow: row dense;
    row-gap: 2px;
    column-gap: 2px;

    border: 2px solid #ccc;
}

.admin-grid-view > * > button {
    min-height: 20px;
}

.admin-grid-view > *:first-child {
    background: #ccc;
}

.admin-grid-view > * {
    position: relative;
    padding: 3px 5px 3px 5px;
    white-space: nowrap;
}

.admin-grid-view > *:before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% + 2px);
    left: -2px;
    top: 0;
    background-color: #ccc;
    z-index: -1;
}

.admin-grid-view > *:after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: #ccc;
    z-index: -1;
}
