.admin-locations-subpage {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;

    overflow: auto;
}

.admin-locations-subpage .map {
    position: relative;
    width: calc(100% - 10px);
    height: 0;
    padding-top: 50%;

    border: 2px solid #ccc;
    overflow: auto;
}

.admin-locations-subpage .map > * {
    position: absolute;
    transform: translate(-50%, -50%);
}

.admin-locations-subpage .map > .map-lines {
    /* Resizing a canvas with css leads to bad times */
    transform: none;
    top: 0;
    left: 0;
}
