#chat {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#chat .input-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 30px;
}

#chat .input-area > :first-child {
    flex-grow: 1;
}

#chat .output {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: scroll;
    flex-wrap: nowrap;
    /* justify-content: flex-end; This is bugged....*/
}

#chat .output > :first-child {
    margin-top: auto !important;
}

#chat .send-button {
    width: 60px;
}
