<div id="map">
    <button class="north">N</button>
    <button class="east">E</button>
    <button class="south">S</button>
    <button class="west">W</button>
    <div class="temp-display">(0,0)</div>
</div>
