#map {
    position: relative;
}

#map > .north {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

#map > .east {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

#map > .south {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

#map > .west {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

#map > .temp-display {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
