#sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#sidebar > .panels {
    flex-grow: 1;
    overflow-y: hidden;
}

#sidebar > .panels > div {
    /* position: relative; */

    width: 100%;
    height: 100%;
    top: 0;
}

#sidebar > .tabs {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: 2px solid #ccc;
    padding: 2px;
}

#sidebar > .tabs > div {
    flex-grow: 1;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar > .tabs > div > img {
    max-width: 100%;
    max-height: 100%;
}
